ESSENTIA_API_BASE_URL=https://essentia.v1su4.dev
ESSENTIA_API_KEY=
ESSENTIA_ANALYSIS_ENGINE=aubio
# Local test media folder (Windows example: C:\Users\Gordo\Documents\Github\beat-surfer-pro\test_media)
QA_MEDIA_DIR=
